<html>

<body>
    {{#cast}}
        <h1>{{name}}</h1>
        <img src="/movie/{{id}}image"></img>
        <p>Campo de trabajo: {{workField}}</p>
        <p>País de origen: {{originCountry}}</p>
        <h3>Biografía</h3>
        <p>{{biography}}</p>
        <h3>Películas</h3>
        {{#movies}}
        <ul>
            <li>
                <img src="/movie/{{id}}/image"></img>
                <a href="/movie/{{id}}">{{name}}</a>
            </li>
        </ul>
        {{/movies}}
        <form action="/cast/{{id}}/delete" method="post">
            <input type='submit' value='Borrar cast'/>
        </form>
        <button onclick="window.location.href='/cast/{{id}}/modify';">Modificar cast</button>
        <p></p>
        <a href="/">Back</a>
    {{/cast}}
</body>
</html>
