<html>

<body>
    {{#movie}}
    <h1>{{name}}</h1>
    <img src="/movie/{{id}}/image"></img>
    <p>{{year}}</p>
    <h3>Sinopsis</h3>
    <p>{{argument}}</p>
    <h3>Reparto</h3>
    {{#cast}}
    <ul>
        <li>
            <img src="/cast/{{id}}/image"></img>
            <a href="/cast/{{id}}">{{name}} {{workField}}</a>
        </li>
    </ul>
    {{/cast}}
    <h3>Tráiler</h3>
    {{#trailer}}
    <a href="{{trailer}}" target="_blank">Trailer</a>
    {{/trailer}}
    {{^trailer}}
    <p>No hay trailer disponible</p>
    {{/trailer}}
    <h3>Reseñas</h3>
    <button onclick="window.location.href='/movie/{{id}}/review/new';">Añadir reseña</button>
    {{#reviews}}
    <ul>
        <li>
            {{title}}
            {{text}}
            <form action="/movie/{{id}}/review/{{idReview}}/delete" method="post">
                <input type='submit' value='Borrar reseña'/>
            </form>
        </li>
    </ul>
    {{/reviews}}
    <form action="/movie/{{id}}/delete" method="post">
		<input type='submit' value='Borrar película'/>
	</form>
    <button onclick="window.location.href='/movie/{{id}}/modify';">Modificar película</button>
    {{/movie}}
    <p></p>
    <a href="/">Back</a>
</body>

</html>