<html>

<body>

    <h1>Subir película</h1>
    <h3>Rellene con los datos de la película a subir</h3>

    <form action="/movie/new" method="post">
        <label>Título:</label>
        <input type='text' name='movieName'><br>
        <label>Argumento:</label>
        <textarea name='movieArgument' rows=5 cols=40></textarea><br>
        <label>Fecha estreno:</label>
        <input type='date' name='movieYear'><br>
        <label>Actores: </label>
        <select class="form-select" name="movieCast" multiple>
            {{#cast}}
            <option value="{{ id }}">{{name}}</option>
            {{/cast}}
        </select>
        <label>Póster:</label>
        <input type='file' name='movieImage' accept=".png, .jpg, .jpeg" />
        <label>Enlace al tráiler de YouTube:</label>
        <input type='text' name='movieTrailer' placeholder="Ingrese la URL del tráiler"><br>
        <input type='submit' name='Subir película'><br>
    </form>

</body>
{{>backToHome_template}}

</html>