<div id="topBanner">
    <img id="bannerImage" onclick="location.href='/'" src="/logo.png">
    <span id="bannerText">Página de inicio</span>
    {{#logged}}
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <input type='submit' value='Cerrar sesión' />
    </form><br>
    <button onclick="window.location.href='/myProfile';">Mi perfil</button>
    {{/logged}}
    {{^logged}}
    <button onclick="window.location.href='/login';">Iniciar sesión</button>
    {{/logged}}
</div>