{{>header_template}}

<body>
    {{>banner_show_info_template}}
    {{#cast}}
    {{#admin}}
    <form action="/cast/{{id}}/delete" method="post">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <input type='submit' value='Borrar cast' />
    </form><br>
    <button onclick="window.location.href='/cast/{{id}}/modify';">Modificar cast</button><br>
    {{/admin}}
    <h1>{{name}}</h1>
    <div id="infoCard">
        <img src="/cast/{{id}}/image" id="posterSize"></img>
        <div id="infoShow">
            <h3>País de origen</h3>
            <p>{{originCountry}}</p>
            <h3>Fecha de nacimiento</h3>
            <p>{{birthDate}}</p>
            <h3>Biografía</h3>
            <p id="labelText">{{biography}}</p>
            <h3>Películas:</h3>
            {{#movies}}
            <ul>
                <li>
                    <button onclick="window.location.href='/movies/{{id}}';">{{name}}</button><br>
                    <img src="/movies/{{id}}/image" id="imageSize"></img>
                </li>
            </ul>
            {{/movies}}
            {{^movies}}
            <p id="infoText">Este actor no ha participado en películas aún.</p>
            {{/movies}}
        </div>
    </div>
    {{/cast}}
    {{>backToHome_template}}