{{>header_template}}

<body>
	{{>banner_home_template}}
	{{>options_cast_selected_template}}

	{{#admin}}
	<div class="slide-in-bottom">
		<button onclick="window.location.href='/cast/new';">Añadir actor</button>
	</div>
	{{/admin}}

	<div id="catalogue" class="fade-in">
		<div class="catalogueTitle slide-in-left">
			<h2>Actores disponibles:</h2>
		</div>
		{{#cast}}
		<ul>
			<li>
				<div class="catalogueSingleCard fade-in-up card-hover">
					<img src="/cast/{{id}}/image" id="imageSize"></img>
					<a href="/cast/{{id}}">{{name}}</a>
				</div>
			</li>
		</ul>
		{{/cast}}
		{{^cast}}
		<div id="errorBox" class="fade-in">
			<p id="errorText">No hay actores todavía.</p>
		</div>
		{{/cast}}

		{{>backToHome_template}}