{{>header_template}}

<body>
	{{>banner_home_template}}
	{{>options_movies_selected_template}}

	{{#admin}}
	<div class="slide-in-bottom">
		<button onclick="window.location.href='/movies/new';">Añadir película</button>
	</div>
	{{/admin}}

	<div id="catalogue" class="fade-in">
		<div class="catalogueTitle slide-in-left">
			<h2>Películas disponibles:</h2>
		</div>

		<div id="spinner" style="display:none;">
			<img src="/spinner.gif" alt="Cargando...">
		</div>
	</div>

	<div style="text-align: center; margin-top: 20px;">
		<button id="loadMoreBtn" style="display: none;">Más resultados</button>
	</div>

	<script src="/loadMovies.js"></script>

	{{>backToHome_template}}
</body>