{{>header_template}}

<body>
	{{>banner_home_template}}
	{{>options_movies_selected_template}}
	<div>
		<div><button onclick="window.location.href='/movie/new';">Añadir película</button></div>
		<div id="catalogue">
			<div class="catalogueTitle">
				<h2>Películas disponibles:</h2>
			</div>
			{{#movies}}
			<ul>
				<li>
					<div class="catalogueSingleCard">
						<img src="/movie/{{id}}/image" id="imageSize"></img>
						<a href="/movies/{{id}}">{{name}}</a>
					</div>
				</li>
			</ul>
			{{/movies}}

			{{^movies}}
			<div id="errorBox">
				<p id="errorText">No hay películas disponibles.</p>
			</div>
			{{/movies}}

			{{>backToHome_template}}