{{>header_template}}

<body>
    {{>banner_show_info_template}}
    {{#movie}}
    {{#admin}}
    <form action="/movies/{{id}}/delete" method="post">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <input type='submit' value='Borrar película' />
    </form><br>
    <button onclick="window.location.href='/movies/{{id}}/modify';">Modificar película</button>
    {{/admin}}

    <h1>{{name}}</h1>
    <div id="infoCard">
        <img src="/movies/{{id}}/image" id="posterSize"></img>
        <div id="infoShow">
            <h3>Año de lanzamiento</h3>
            <p>{{year}}</p>

            <h3>Sinopsis</h3>
            <p>{{argument}}</p>

            <h3>Reparto</h3>
            {{#cast}}
            <ul>
                <li>
                    <img src="/cast/{{id}}/image" id="imageSize"></img>
                    <button onclick="window.location.href='/cast/{{id}}';">{{name}}</button>
                </li>
            </ul>
            {{/cast}}
            {{^cast}}
            <p id="errorText">No hay actores que hayan participado en esta película.</p>
            {{/cast}}

            <h3>Tráiler</h3>
            {{#trailer}}
            <a href="{{trailer}}" target="_blank">Ver el tráiler de la película "{{name}}" </a>
            {{/trailer}}
            {{^trailer}}
            <p id="errorText">No hay trailer disponible</p><br>
            {{/trailer}}

            <h3>Reseñas</h3>
            {{#user}}
            <button onclick="window.location.href='/movies/{{movie.id}}/review/new';">Añadir reseña</button>
            {{/user}}

            <ul id="reviewContainer">
                {{#reviews}}
                <li class="review-item">
                    <p id="infoText">{{author.username}} : {{title}}</p>
                    <div id="reviewBox">
                        <p>{{text}}</p>
                    </div>
                    {{#user}}
                    <form action="/movies/{{movie.id}}/review/{{id}}/delete" method="post">
                        <input type="hidden" name="_csrf" value="{{token}}" />
                        <input type='submit' value='Borrar reseña' />
                    </form>
                    {{/user}}
                </li>
                {{/reviews}}
            </ul>

            {{^reviews}}
            <p id="infoText">No hay reviews aún.</p>
            {{/reviews}}

            <div id="reviewSpinner" style="display: none;">
                <img src="/spinner.gif" alt="Cargando...">
            </div>
            <button id="loadMoreReviewsBtn">Más reseñas</button>
            <script src="/loadReviews.js"></script>
        </div>
    </div>
    {{/movie}}

    {{>backToHome_template}}
</body>