{{>header_template}}
{{>banner_profile_template}}

<body>
    <div class="fade-in">
        {{#user}}
        <h1>Mi perfil</h1>

        <div id="infoPanel">
            <div id="infoBox">Panel de información del usuario</div>
            <p id="labelText"><strong>Nombre de usuario:</strong> {{username}}</p>
            <p id="labelText"><strong>Rol:</strong>{{#admin}}<span
                    id="adminText">Administrador</span>{{/admin}}{{#registered}}<span id="regText">Usuario
                    registrado</span>{{/registered}}</p>
        </div>

        <div id="controlPanel">
            <div id="infoBox">Panel de control del usuario</div>
            <div id="controlPanelDisplay">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}" />
                    <input type="submit" value="Cerrar sesión" />
                </form>

                <button onclick="window.location.href='/myReviews'"
                    class="w-72 bg-indigo-700 hover:bg-indigo-800 text-white py-2 px-4 rounded-lg shadow transition-transform duration-300 hover:scale-105">
                    Mis reseñas
                </button>

                <button onclick="window.location.href='/user/modify'">
                    Modificar datos
                </button>

                <form action="/user/delete" method="post" class="w-full flex justify-center">
                    <input type="hidden" name="_csrf" value="{{token}}" />
                    <input type="submit" value="Borrar usuario"
                        class="w-72 bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded-lg shadow transition-transform duration-300 hover:scale-105" />
                </form>

                {{#admin}}
                <button onclick="window.location.href='/user/new';"
                    class="w-72 bg-green-600 hover:bg-green-700 text-white py-2 px-4 rounded-lg shadow transition-transform duration-300 hover:scale-105">
                    Añadir usuario
                </button>
                {{/admin}}
            </div>
        </div>
        {{/user}}

        {{>backToHome_template}}