{{>header_template}}

<body>
    {{#user}}
        <h2>Nombe de usuario: {{username}}</h2>
        <h2>Rol:{{#admin}}Administrador{{/admin}}{{#registered}}Usuario registrado{{/registered}}</h2>
        <button onclick="window.location.href='/';">Volver a la página de inicio</button>
        <button onclick="window.location.href='/myReviews';">Mis reseñas</button>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <input type='submit' value='Cerrar sesión' />
        </form><br>
        <button onclick="window.location.href='/?';">Modificar datos</button>
        <button onclick="window.location.href='/?';">Borrar usuario</button>
        {{#admin}}
            <button onclick="window.location.href='/?';">Añadir usuario</button>
        {{/admin}}
    {{/user}}