{{>header_template}}

<body>
    {{>banner_home_template}}
    {{>options_reviews_selected_template}}
    {{#user}}
    <h2>Reseñas de {{username}}:</h1>
        {{#reviews}}
        <ul>
            <li>
                <p id="infoText">{{title}}</p>
                <div id="reviewBox">
                    <p>{{text}}</p>
                </div>
                <form action="/movie/{{movie.id}}/review/{{idReview}}/delete" method="post">
                    <input type='submit' value='Borrar reseña' />
                </form>
            </li>
        </ul>
        {{/reviews}}

        {{^reviews}}
        <p id="infoText">No hay reseñas tuyas todavía</p>
        {{/reviews}}
        {{/user}}

        {{^user}}
        <p id="infoText">Usuarios aún no implementados.</p>
        {{/user}}
        {{>backToHome_template}}