{{>header_template}}

<body>
    {{>banner_form_template}}
    <br>
    <div id="titelForm">
        <h2>Rellene con los datos del usuario</h2>
    </div>
    <div id="form">

        <form action="{{#user}}/user/modify{{/user}} {{^user}}/user/new{{/user}}" method="post">
            <label id="fieldName" placeholder="Ingrese el nombre">Nombre de usuario:</label>
            <label id="fieldName">Título: {{#usernameNotValid}}({{.}}){{/usernameNotValid}}</label>
            <input type='text' name='username' value="{{#user}}{{username}}{{/user}}" required><br>
            <label id="fieldName">Contraseña:</label>
            <input type='password' name="password" placeholder="Ingrese la contraseña" required><br>
            {{^user}}
            <label id="fieldName">Tipo de usuario:</label>
            <select id="select" name='role'>
                <option value="ADMIN">Administrador</option>
                <option value="USER">Usuario registrado</option>
            </select><br>
            {{/user}}
            <input type="hidden" name="_csrf" value="{{token}}" />
            <input type="submit" value="{{#user}}Modificar{{/user}}{{^user}}Crear{{/user}} usuario" />
        </form>

        {{>backToHome_template}}